<nav class="navbar">
  <div class="nav-container">
    <a class="nav-brand" routerLink="/home">NGRX</a>

    <button
      class="nav-toggle"
      [class.active]="isMenuOpen"
      (click)="toggleMenu()"
      aria-label="Toggle navigation">
      <span class="hamburger"></span>
    </button>

    <div class="nav-menu" [class.active]="isMenuOpen">
      <ul class="nav-list">
        <li class="nav-item user-info" *ngIf="loggedInUser$ | async as user">
          <span class="user-email">{{ user.Email }}</span>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" (click)="isMenuOpen = false">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/counter" routerLinkActive="active" (click)="isMenuOpen = false">
            Counter
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses" routerLinkActive="active" (click)="isMenuOpen = false">
            Courses
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/coursesv2" routerLinkActive="active" (click)="isMenuOpen = false">
            Coursesv2
          </a>
        </li>

        <li class="nav-item" *ngIf="isAuthenticated$ | async; else auth">
          <button class="logout-btn" (click)="onLogout(); isMenuOpen = false">
            Logout
          </button>
        </li>

        <ng-template #auth>
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth/register" routerLinkActive="active" (click)="isMenuOpen = false">
              Register
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth/login" routerLinkActive="active" (click)="isMenuOpen = false">
              Login
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
